*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}



.wrapper{
    color: white;
    background-color: black;
    height: 100vh;
    position: relative;

}

a{
    text-decoration: none;
    color: white;
}

ul li{
    display: inline-block;
    font-size: 12px;
}

.flex{
    display: flex;
}

/* parte superiore */

.head{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 3;
}


.head ul{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 4;
}

.head ul li{
    margin-right:5px;
    background-color: gray;
    padding: 3px 5px;
    border-radius: 5px;
}

.green{
    color: greenyellow;
}

.button:hover a, .button:hover a i{
    color: yellow;
}

.head ul li:hover, .end-button:hover {
    background-color: darkgrey;
}

/* parte centrale */

.video{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 70px 50px 10px 50px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-grow: 1;
}

.screen{
    flex-grow: 1;
    position: relative;
    width: 250px;
    margin: 5px;
    max-width: 300px;
}

.screen img{
    max-width: 100%;
}

.screen div:last-child{
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 12px;
}


/* parte bottom */

.player{
    background-color: rgba(21, 21, 21, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}

.button > a, .button i {
    display: block;
    text-align: center;
    margin: 5px 10px;
    font-size: 14px;
}

.button > a > i {
    font-size: 24px;
}


.end-button{
   
    color: red;
    height: 100%;
    background-color: gray;
    line-height: 100%;
    text-align: center;
    padding: 0 20px;

}

.end-button span{
    /* position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%); */
    line-height: 80px;
    vertical-align: middle;
}


